<?xml version="1.0" encoding="utf-8"?>
<Media Key="815c6573-1136-495b-adb5-0e606dba5643" Alias="aaron.svg" Level="2">
  <Info>
    <Parent Key="833e0c99-8022-40cf-8bb8-b8781d4b39ec">Members</Parent>
    <Path>/Members/aaronsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T18:39:59</CreateDate>
    <NodeName Default="aaron.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qhmp2yzn/aaron.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>