<?xml version="1.0" encoding="utf-8"?>
<Media Key="dde0fa6b-f017-4b54-a849-5da57eccf00b" Alias="Assurance-audits.svg.svg" Level="2">
  <Info>
    <Parent Key="badf2340-8ca0-462b-9aee-cf142e9e0ffd">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/AssuranceAuditssvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T17:11:10</CreateDate>
    <NodeName Default="Assurance-audits.svg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tfdfepym/assurance-auditssvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>