<?xml version="1.0" encoding="utf-8"?>
<Media Key="d95ab650-da01-4c37-9bd0-70d20bafeff3" Alias="Bonds-commodities.svg.svg" Level="2">
  <Info>
    <Parent Key="badf2340-8ca0-462b-9aee-cf142e9e0ffd">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/BondsCommoditiessvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T17:11:10</CreateDate>
    <NodeName Default="Bonds-commodities.svg.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uifpqoy0/bonds-commoditiessvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>