<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f5c34e8-ac1a-4497-8b46-4efd3b225ef4" Alias="brandon.svg" Level="2">
  <Info>
    <Parent Key="833e0c99-8022-40cf-8bb8-b8781d4b39ec">Members</Parent>
    <Path>/Members/brandonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T18:39:59</CreateDate>
    <NodeName Default="brandon.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dkep31ib/brandon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>