<?xml version="1.0" encoding="utf-8"?>
<Media Key="e649d43d-e850-409d-9359-f8781b52704a" Alias="brandonk.svg" Level="2">
  <Info>
    <Parent Key="833e0c99-8022-40cf-8bb8-b8781d4b39ec">Members</Parent>
    <Path>/Members/brandonksvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T18:40:00</CreateDate>
    <NodeName Default="brandonk.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z3upwbcl/brandonk.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>