<?xml version="1.0" encoding="utf-8"?>
<Media Key="af176640-ebda-40c1-94e0-70123d48d7cb" Alias="Financialadvisor.svg.svg" Level="2">
  <Info>
    <Parent Key="badf2340-8ca0-462b-9aee-cf142e9e0ffd">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/Financialadvisorsvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T17:11:10</CreateDate>
    <NodeName Default="Financialadvisor.svg.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wlnlktob/financialadvisorsvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>