<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebd6b77b-4a3b-4640-80be-4c1c3459ccbf" Alias="kevin.svg" Level="2">
  <Info>
    <Parent Key="833e0c99-8022-40cf-8bb8-b8781d4b39ec">Members</Parent>
    <Path>/Members/kevinsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T18:39:59</CreateDate>
    <NodeName Default="kevin.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/refhicja/kevin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>