<?xml version="1.0" encoding="utf-8"?>
<Media Key="833e0c99-8022-40cf-8bb8-b8781d4b39ec" Alias="Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Members</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-11T18:39:24</CreateDate>
    <NodeName Default="Members" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>