<?xml version="1.0" encoding="utf-8"?>
<Media Key="911a6f16-3f6d-484a-9133-dc56104fc602" Alias="miranda.svg" Level="2">
  <Info>
    <Parent Key="833e0c99-8022-40cf-8bb8-b8781d4b39ec">Members</Parent>
    <Path>/Members/mirandasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T18:39:59</CreateDate>
    <NodeName Default="miranda.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2tjlq21w/miranda.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>