<?xml version="1.0" encoding="utf-8"?>
<Media Key="37f4c2f0-a009-4fd6-a3b6-8b833c9e2d48" Alias="onatrixHomePic.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/onatrixHomePicsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T15:52:15</CreateDate>
    <NodeName Default="onatrixHomePic.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aj5fnvis/onatrixhomepic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>