<?xml version="1.0" encoding="utf-8"?>
<Media Key="43a8d6e1-52b6-4501-86b7-286832b7ea85" Alias="risk-management-two.svg" Level="2">
  <Info>
    <Parent Key="badf2340-8ca0-462b-9aee-cf142e9e0ffd">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/riskManagementTwosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T15:53:00</CreateDate>
    <NodeName Default="risk-management-two.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cnvbvinn/risk-management-two.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>