<?xml version="1.0" encoding="utf-8"?>
<Media Key="607c16cc-5e1b-4a09-8e1b-c79dfd530e49" Alias="Risk-management.svg.svg" Level="2">
  <Info>
    <Parent Key="badf2340-8ca0-462b-9aee-cf142e9e0ffd">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/RiskManagementsvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T17:11:10</CreateDate>
    <NodeName Default="Risk-management.svg.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h0vn3aqa/risk-managementsvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>