<?xml version="1.0" encoding="utf-8"?>
<Media Key="badf2340-8ca0-462b-9aee-cf142e9e0ffd" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-14T17:06:53</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>