<?xml version="1.0" encoding="utf-8"?>
<Media Key="bdb88f79-c0ca-4342-ae50-da5947a164ce" Alias="Signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T17:26:29</CreateDate>
    <NodeName Default="Signature.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rmzbux4r/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>