<?xml version="1.0" encoding="utf-8"?>
<Media Key="e25e728a-2420-4ffd-bd58-c1168be26fb3" Alias="Taxandtrusts.svg.svg" Level="2">
  <Info>
    <Parent Key="badf2340-8ca0-462b-9aee-cf142e9e0ffd">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/Taxandtrustssvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T17:11:11</CreateDate>
    <NodeName Default="Taxandtrusts.svg.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pdhpyab1/taxandtrustssvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>