<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c6598aa-0905-4752-b526-3381dc2e95a4" Alias="tina.svg" Level="2">
  <Info>
    <Parent Key="833e0c99-8022-40cf-8bb8-b8781d4b39ec">Members</Parent>
    <Path>/Members/tinasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T18:39:59</CreateDate>
    <NodeName Default="tina.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lasnp1q4/tina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>