<?xml version="1.0" encoding="utf-8"?>
<Content Key="e994afb3-c91b-49ce-95ae-e800eabf3cbf" Alias="2025-11-16 19:37 - Test" Level="2">
  <Info>
    <Parent Key="495c0589-1226-43da-aefe-332c3d991129">Form Submissions</Parent>
    <Path>/FormSubmissions/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-16T19:37:17</CreateDate>
    <NodeName Default="2025-11-16 19:37 - Test" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@domain.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial Consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0707070707]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>