<?xml version="1.0" encoding="utf-8"?>
<Content Key="630dd11a-4931-41af-801c-eaf72972b52a" Alias="About" Level="2">
  <Info>
    <Parent Key="95a9eef4-e8d9-4206-b9a1-311ba1d7f706">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-11-11T18:43:00</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e12e4bd4-b7d9-410c-9c26-a7cd04ae6202">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "397ae064-a203-4c2d-a5d2-163fc38f42c4",
      "key": "3f763fc9-73b3-446e-b963-f7f3852f7027",
      "udi": null,
      "values": [
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Experts"
        },
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "50b7e50d-b5b0-41eb-ba0c-45b4b8831ea9",
                "key": "5f56b2bb-2a6c-4df8-8776-0b3288b21005",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "478e3af2-7ca2-41f9-ad68-0bb853e62b6e",
                        "mediaKey": "0f5c34e8-ac1a-4497-8b46-4efd3b225ef4",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "50b7e50d-b5b0-41eb-ba0c-45b4b8831ea9",
                "key": "a1dcde4c-b584-44ea-9469-f7819b534624",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3f3a92c3-8969-4bcf-85fc-f371a5942e1f",
                        "mediaKey": "a2310cdb-498d-40d4-ab3c-32a3f9655d1b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "50b7e50d-b5b0-41eb-ba0c-45b4b8831ea9",
                "key": "9030e4d8-5525-4895-8e36-efe3c33a2a78",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a0803862-2d72-4a79-81b4-55d24c7a5506",
                        "mediaKey": "815c6573-1136-495b-adb5-0e606dba5643",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "50b7e50d-b5b0-41eb-ba0c-45b4b8831ea9",
                "key": "f6fdd66f-4181-4e69-9036-d59ff6bee5db",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "480e2f96-8a83-4b3b-9130-bf4046519d24",
                        "mediaKey": "0c6598aa-0905-4752-b526-3381dc2e95a4",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "50b7e50d-b5b0-41eb-ba0c-45b4b8831ea9",
                "key": "83428944-09d1-4c2a-86bd-4551ed42e866",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b691453b-8348-4572-badc-61a3c2f103c5",
                        "mediaKey": "e649d43d-e850-409d-9359-f8781b52704a",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "50b7e50d-b5b0-41eb-ba0c-45b4b8831ea9",
                "key": "607c148a-84bd-44cf-9c3d-417b15c04238",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "125510e8-887a-4a70-a436-e0c32f9db140",
                        "mediaKey": "911a6f16-3f6d-484a-9133-dc56104fc602",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "50b7e50d-b5b0-41eb-ba0c-45b4b8831ea9",
                "key": "e49dd31b-6572-486a-9600-3e20d93160e4",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "dd7d8ad1-d092-4735-b2a2-322b794f81e6",
                        "mediaKey": "ebd6b77b-4a3b-4640-80be-4c1c3459ccbf",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "5f56b2bb-2a6c-4df8-8776-0b3288b21005",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a1dcde4c-b584-44ea-9469-f7819b534624",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9030e4d8-5525-4895-8e36-efe3c33a2a78",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f6fdd66f-4181-4e69-9036-d59ff6bee5db",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "83428944-09d1-4c2a-86bd-4551ed42e866",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "607c148a-84bd-44cf-9c3d-417b15c04238",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e49dd31b-6572-486a-9600-3e20d93160e4",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "5f56b2bb-2a6c-4df8-8776-0b3288b21005",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a1dcde4c-b584-44ea-9469-f7819b534624",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9030e4d8-5525-4895-8e36-efe3c33a2a78",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f6fdd66f-4181-4e69-9036-d59ff6bee5db",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "83428944-09d1-4c2a-86bd-4551ed42e866",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "607c148a-84bd-44cf-9c3d-417b15c04238",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e49dd31b-6572-486a-9600-3e20d93160e4",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "3f763fc9-73b3-446e-b963-f7f3852f7027",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3f763fc9-73b3-446e-b963-f7f3852f7027",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>