<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5390911-9599-433e-bb79-28f4efb7c54b" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="3a95c51b-4dbd-46ca-90b7-ab76e687472a">Services</Parent>
    <Path>/Onatrix/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-14T17:15:04</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2a845ac4-8041-4449-b884-56c88d44e33e">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "71ebff72-5a1f-4457-961d-4ea3b66a11fd",
      "key": "3b3abc2b-19c2-4175-823b-16a51954d82d",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8e70bd8b-94bc-4454-a22d-876335bc85dc",
              "mediaKey": "6a98c959-0254-4f1c-9f89-e6258c6d6373",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "3b3abc2b-19c2-4175-823b-16a51954d82d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3b3abc2b-19c2-4175-823b-16a51954d82d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "be2718b1-e504-4069-8d26-32e6ca5d24f5",
    "mediaKey": "d95ab650-da01-4c37-9bd0-70d20bafeff3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>