<?xml version="1.0" encoding="utf-8"?>
<Content Key="02411658-f5d8-4b83-982d-4db0a75b2d83" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="3a95c51b-4dbd-46ca-90b7-ab76e687472a">Services</Parent>
    <Path>/Onatrix/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-14T17:13:44</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2a845ac4-8041-4449-b884-56c88d44e33e">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "71ebff72-5a1f-4457-961d-4ea3b66a11fd",
      "key": "aea2c2b3-ba59-4852-95b2-7daa22baeb52",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9f0594c9-dc13-486d-a7ca-220f94a98e1a",
              "mediaKey": "6a98c959-0254-4f1c-9f89-e6258c6d6373",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "aea2c2b3-ba59-4852-95b2-7daa22baeb52",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "aea2c2b3-ba59-4852-95b2-7daa22baeb52",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "aeadb6d9-8532-4c7f-81b3-226bb2da3dbe",
    "mediaKey": "e25e728a-2420-4ffd-bd58-c1168be26fb3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>