<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cea4ed3b-98dc-4b43-b1d5-12d30e6a098a" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ef728ed8-e947-4789-afba-ca0712e491e9"
    },
    {
      "contentElementTypeKey": "259ba4b2-ccaa-44a9-acff-fe4755bf77a4",
      "settingsElementTypeKey": "6d2c9d2b-687e-470a-89af-dd2bd07b1fc9"
    },
    {
      "contentElementTypeKey": "397ae064-a203-4c2d-a5d2-163fc38f42c4"
    },
    {
      "contentElementTypeKey": "f1f278fd-110f-4ed3-adc8-2cdf3db0353d",
      "settingsElementTypeKey": "e459b772-8935-41a9-b1db-7936c2ef75bd"
    }
  ]
}]]></Config>
</DataType>