<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dee365df-a173-4ab3-b316-bff2f324cfa7" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "71ebff72-5a1f-4457-961d-4ea3b66a11fd"
    }
  ]
}]]></Config>
</DataType>