<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0c60c601-fbcf-4c1c-b5b3-e4e9241e1267" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "15de0006-babc-465e-8948-d90f471a3f48",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>