<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5ee3bc7-a0ee-4493-95e4-fb36b8a6c6b6" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "50b7e50d-b5b0-41eb-ba0c-45b4b8831ea9",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>