<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9680cfdd-0d44-4d92-862c-6969937d49a7" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c647dad2-86d2-4363-9f36-5e635d667b1c">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ca271b3f-f244-4e12-992c-29e3ec4ee32c" SortOrder="0">contactPage</ContentType>
    <ContentType Key="65eebfd5-b9c6-40bf-b9a6-b00dd2aaf88e" SortOrder="1">servicePage</ContentType>
    <ContentType Key="cd4484e3-a38f-4f64-85db-f03551719cb5" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ced21e29-34ce-492c-b3b3-34048fea7016</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>cea4ed3b-98dc-4b43-b1d5-12d30e6a098a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e6e84b6b-63c3-428d-8eac-529372326338</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>